
/* fonts */

@font-face {
	font-family: 'Hauora'; 
	src: url(/font/Hauora/ttf/Hauora-Regular.ttf); 
}
@font-face {
	font-family: 'Gotham Pro'; 
	src: url(/font/Gotham/gothampro_medium.ttf); 
}
@font-face {
	font-family: 'Stem'; 
	src: url(/font/Stem/Stem-Regular.ttf); 
}
/* null style */

body {
    margin: 0;
    padding: 0;
    }

/* one block header */

.wrapper_heading {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header_block {
    padding: 43px 120px;
    background: #671FEC;
    display: flex;
    flex-direction: column;
}

.header_block_siteNN {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 7px;
    padding-left: 24px;
}

.header_block_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
}

.header_block_categoty {
    margin-left: 7rem;
}

.header_block_categoty a{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    padding: 0 1rem;
    color: #FFFFFF;
}

.header_block_head a {
    color: white;
    text-decoration: none;
}

.header_div_btn {
    padding: 0 !important;
    margin: 0 !important;
}

.header_btn_order a{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #671FEC;
}

.header_btn_order {
    border-radius: 20px;
    background-color: white;
    outline: none;
    border: none;
    padding: 11px 44px;
}

.header_text h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #E9E9E9;
}

.footer_heading_block {
    display: flex;
    flex-direction: column;
}

.header_serviceHeading {
    width: 100%;
    font-family: 'Stem';
    font-style: normal;
    font-weight: 700;
    font-size: 350px;
    text-align: right;
    letter-spacing: 0.00em;
    padding: 0;
    margin-top: -10rem;
    color: #E9E9E9;
}

.shadow {
    text-shadow: 20px 5px #42484c;
}

.heading_footer {
    display: flex;
    justify-content: flex-end;
}

.heading_footer a {
    padding: 0 1.2rem;
    color: white;
    text-decoration: none;
}

/* our services acordeon*/

.our_services {
    padding: 0;
    margin-top: -4rem;
    width: 100%;
}

.our_services h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #1E1E1E;
    padding-left: 213px;
}

.our_services_content {
    padding-top: 85px;
}

.acor_noWork {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E9E9E9;
    
}

#one_acor {
    margin-top: -3rem;
}

.acor_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acor_noWork {
    padding-top: 31px;
}

.left_block_acor {
    padding-left: 213px;
}

.left_block_acor h4{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #671FEC;
    padding-left: 0;
}

.left_block_acor:hover {
    cursor: pointer;
}

.right_block_acor:hover {
    cursor: pointer;
}

/* Website promotion on the Internet */

.website_promotion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website_title h3{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
}

.website_main_content {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.website_leftBlock, .website_rightBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid #671FEC;
    border-radius: 70px;
    margin: 24px;
}

.website_leftBlock_heading, .website_rightBlock_heading {
    background-color: #671FEC;
    border: 2px solid #671FEC;
    border-radius: 65px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 32px 32px 49px 32px!important;
    margin: 0;
}

.website_leftBlock_heading_width, .website_rightBlock_heading_width {
    width: 100%;
    height: 10.313rem;
}

.website_leftBlock_heading h4, .website_rightBlock_heading h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 0;
}

.website_leftBlock_heading p, .website_rightBlock_heading p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
}

.website_leftBlock_content, .website_rightBlock_content {
    padding: 0 32px 70px 32px;
    padding-top: 0;
}

.website_leftBlock_content_heading_plus, .website_leftBlock_content_heading_minuse, .website_rightBlock_content_heading_plus, .website_rightBlock_content_heading_minuse {
    display: inline-block;
    text-align: center;
}

.website_leftBlock_content_heading_plus h4, .website_leftBlock_content_heading_minuse h4, .website_rightBlock_content_heading_plus h4, .website_rightBlock_content_heading_minuse h4 {
    border: 2px solid #671FEC;
    border-radius: 70px;
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #671FEC;
    padding: 5px 15px;
}

.website_leftBlock_content_main_plus, .website_leftBlock_content_main_minuse, .website_rightBlock_content_main_plus, .website_rightBlock_content_main_minuse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    width: 26.063rem;
    margin-bottom: 32px;
}

.website_leftBlock_content_main_plus:nth-last-child(3n), .website_rightBlock_content_main_plus:nth-last-child(3n) {
    margin-bottom: 0;
}

.website_leftBlock_content_main_plus >div, .website_rightBlock_content_main_plus >div, .website_leftBlock_content_main_minuse >div, .website_rightBlock_content_main_minuse >div {
    margin-left: 10px;
}

.website_leftBlock_content_main_plus h4, .website_leftBlock_content_main_minuse h4, .website_rightBlock_content_main_plus h4, .website_rightBlock_content_main_minuse h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding-top: 0;
    margin-top: 0;
}

.website_leftBlock_content_main_plus span, .website_leftBlock_content_main_minuse span, .website_rightBlock_content_main_plus span, .website_rightBlock_content_main_minuse span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
}

.website_footer p{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #671FEC;
}


/* Corporate identity development */


.style_development {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.style_development_up {
    display: flex;
    flex-direction: row;
}