
/* fonts */

@font-face {
	font-family: 'Hauora'; 
	src: url(/font/Hauora/ttf/Hauora-Regular.ttf); 
}
@font-face {
	font-family: 'Gotham Pro'; 
	src: url(/font/Gotham/gothampro_medium.ttf); 
}
@font-face {
	font-family: 'Stem'; 
	src: url(/font/Stem/Stem-Regular.ttf); 
}
/* null style */

body {
    margin: 0;
    padding: 0;
    }

/* one block header */

.wrapper_heading {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header_block {
    padding: 43px 120px;
    background: #671FEC;
    display: flex;
    flex-direction: column;
}

.header_block_siteNN {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 7px;
    padding-left: 24px;
}

.header_block_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
}

.header_block_categoty {
    margin-left: 7rem;
}

.header_block_categoty a{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    padding: 0 1rem;
    color: #FFFFFF;
}

.header_block_head a {
    color: white;
    text-decoration: none;
}

.header_div_btn {
    padding: 0 !important;
    margin: 0 !important;
}

.header_btn_order a{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #671FEC;
}

.header_btn_order {
    border-radius: 20px;
    background-color: white;
    outline: none;
    border: none;
    padding: 11px 44px;
}

.header_text h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #E9E9E9;
}

.footer_heading_block {
    display: flex;
    flex-direction: column;
}

.header_serviceHeading {
    width: 100%;
    font-family: 'Stem';
    font-style: normal;
    font-weight: 700;
    font-size: 350px;
    text-align: right;
    letter-spacing: 0.00em;
    padding: 0;
    margin-top: -10rem;
    color: #E9E9E9;
}

.shadow {
    text-shadow: 20px 5px #42484c;
}

.heading_footer {
    display: flex;
    justify-content: flex-end;
}

.heading_footer a {
    padding: 0 1.2rem;
    color: white;
    text-decoration: none;
}

/* our services acordeon*/

.our_services {
    padding: 0;
    margin-top: -4rem;
    width: 100%;
}

.our_services h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #1E1E1E;
    padding-left: 213px;
}

.our_services_content {
    padding-top: 85px;
}

.acor_noWork {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E9E9E9;
    
}

#one_acor {
    margin-top: -3rem;
}

.acor_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acor_noWork {
    padding-top: 31px;
}

.left_block_acor {
    padding-left: 213px;
}

.left_block_acor h4{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #671FEC;
    padding-left: 0;
}

.left_block_acor:hover {
    cursor: pointer;
}

.right_block_acor:hover {
    cursor: pointer;
}

/* Website promotion on the Internet */

.website_promotion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website_title h3{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
}

.website_main_content {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.website_leftBlock, .website_rightBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid #671FEC;
    border-radius: 70px;
    margin: 24px;
}

.website_leftBlock_heading, .website_rightBlock_heading {
    background-color: #671FEC;
    border: 2px solid #671FEC;
    border-radius: 65px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 32px 32px 49px 32px!important;
    margin: 0;
}

.website_leftBlock_heading_width, .website_rightBlock_heading_width {
    width: 100%;
    height: 10.313rem;
}

.website_leftBlock_heading h4, .website_rightBlock_heading h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 0;
}

.website_leftBlock_heading p, .website_rightBlock_heading p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
}

.website_leftBlock_content, .website_rightBlock_content {
    padding: 0 32px 70px 32px;
    padding-top: 0;
}

.website_leftBlock_content_heading_plus, .website_leftBlock_content_heading_minuse, .website_rightBlock_content_heading_plus, .website_rightBlock_content_heading_minuse {
    display: inline-block;
    text-align: center;
}

.website_leftBlock_content_heading_plus h4, .website_leftBlock_content_heading_minuse h4, .website_rightBlock_content_heading_plus h4, .website_rightBlock_content_heading_minuse h4 {
    border: 2px solid #671FEC;
    border-radius: 70px;
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #671FEC;
    padding: 5px 15px;
}

.website_leftBlock_content_main_plus, .website_leftBlock_content_main_minuse, .website_rightBlock_content_main_plus, .website_rightBlock_content_main_minuse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    width: 26.063rem;
    margin-bottom: 32px;
}

.website_leftBlock_content_main_plus:nth-last-child(3n), .website_rightBlock_content_main_plus:nth-last-child(3n) {
    margin-bottom: 0;
}

.website_leftBlock_content_main_plus >div, .website_rightBlock_content_main_plus >div, .website_leftBlock_content_main_minuse >div, .website_rightBlock_content_main_minuse >div {
    margin-left: 10px;
}

.website_leftBlock_content_main_plus h4, .website_leftBlock_content_main_minuse h4, .website_rightBlock_content_main_plus h4, .website_rightBlock_content_main_minuse h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding-top: 0;
    margin-top: 0;
}

.website_leftBlock_content_main_plus span, .website_leftBlock_content_main_minuse span, .website_rightBlock_content_main_plus span, .website_rightBlock_content_main_minuse span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
}

.website_footer p{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #671FEC;
}


/* Corporate identity development */


.style_development {
    display: flex;
    flex-direction: column;
    
}

.style_development_heading {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.style_development_heading h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #1E1E1E;
}

.style_development_heading h3 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #671FEC;
}

.style_development_heading h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.style_development_up, .style_development_down{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.down_arrow {
    margin-top: -10rem;
}

.style_delevopment_up_text, .style_delevopment_down_text{
    width: 70%;
    display: flex;
}

.style_delevopment_up_text_number h1, .style_delevopment_down_text_number h1{
    font-family: 'Stem';
    font-style: normal;
    font-weight: 700;
    font-size: 250px;
    line-height: 62%;
    text-align: right;
    letter-spacing: -0.005em;
    color: #671FEC;
    align-self: flex-start;
    padding-top: 0;
    margin-top: 0;
}

.style_delevopment_up_text_main_header h4, .style_delevopment_down_text_main_header h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #000000;
}

.style_delevopment_up_text_main_description, .style_delevopment_down_text_main_description{
    display: flex;
    align-items: center;
}

.style_delevopment_up_text_main_description div {
    height: auto;
}

.style_delevopment_up_text_main_description h4, .style_delevopment_down_text_main_description h4{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding: 0;
    margin: 0;
}

.style_delevopment_up_text_main_description_text_padding, .style_delevopment_down_text_main_description_text_padding h4 {
    padding-left: 0.5rem;
}

.style_delevopment_up_text_main_description span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
}

/* redesign, regeneration style */

.regeneration_style_section {
    display: flex;
    flex-direction: column;
}

.regeneration_style_section_header {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.regeneration_style_section_header_backroundColor {
    position: relative;
    align-self: flex-start;
    width: 65.375rem;
    background-color:#671FEC;
    padding: 3rem;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
}

.regeneration_style_section_header_text {
    z-index: 999;
    width: 80%;
}

.regeneration_style_section_header_text h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
}

.regeneration_style_section_header_text p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin: 0;
}

.regeneration_style_section_header_image img{
    position: absolute;
    top: 0;
    right: -215px;
    width: 431px;
    z-index: 1;
}

.regeneration_style_section_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.regeneration_style_section_description_header h3 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #000000;
    padding: 0;
    padding-left: 2.5rem;
    margin: 2rem 2rem;
}

.regeneration_style_section_description_main {
    display: flex;
}

.regeneration_style_section_description_main_flexRow {
    display: flex;
    align-items: center;
}

.regeneration_style_section_description_main_flexRow span{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding-left: 0.5rem;
}

.regeneration_style_section_order {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regeneration_style_section_order h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 0;
    margin: 2rem;
}

.regeneration_style_section_order button {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 0;
    margin: 2rem 2rem;
    border:1px solid #671FEC;
    background-color: #671FEC;
    padding: 2rem;
    border-radius:70px;
    color: white;
    box-shadow: 10px 10px 3px #42484c;
}

.regeneration_style_section_order button:hover {
    cursor: pointer;
}
/* naming - name of the brand */

.section_naming_brand {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.naming_transform_color_blue {
    width: 100%;
    height: 20px;
    background-color: #671FEC;
}

.naming_name_brand {
    display: flex;
    flex-direction: column;
    background-color: #E9E9E9;
    padding: 0 !important;
    margin: 0 !important;
}

.naming_name_brand_header {
    width: 90%;
    margin: 0 auto;
}

.naming_name_brand_header h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
}

.naming_name_brand_header span {
    color: #671FEC;
}

.naming_name_brand_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.naming_name_brand_up_description_left_header h4{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #000000;
}

.naming_name_brand_up_description_left {
    display: flex;
    flex-direction: column;
}

.naming_name_brand_up_description_left_content {
    display: flex;
    align-items: center;
}

.naming_name_brand_up_description_left_content h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-left: 8px;
}

.naming_name_brand_up_description_left_content p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
    padding-top: 0;
    margin-top: 0;
    padding-left: 8px;
}

.naming_name_brand_up_description_right {
    width: 23rem;
    background-image: url(/img/messageBack.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 1.813rem 3.938rem;
}

.naming_name_brand_up_description_right img {
    width: 100px;
}

.naming_name_brand_up_description_right p {
    width: 100%;
    height: 100%;
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    display: flex;
    align-items: flex-end;
    color: #671FEC;
    margin-bottom: -6.75rem;
}

.naming_name_brand_down {
    width: 80%;
    margin: 0 auto;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 60px;
    margin-bottom: 7.625rem;
    margin-top: 2.5rem;
}

.naming_name_brand_down_leftBlock, .naming_name_brand_down_rightBlock {
    min-height: 320px;
    padding: 32px 0 45px 50px;
}

.naming_name_brand_down_leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 5px solid #E9E9E9;
    padding-right: 0.75rem;
}

.naming_name_brand_down_leftBlock_up h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #671FEC;
}

.naming_name_brand_down_leftBlock_up span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
}

.naming_name_brand_down_leftBlock_down h4 {
    align-self: flex-end;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 102%;
    text-align: right;
    letter-spacing: 0.04em;
    color: #000000;
}

.naming_name_brand_down_rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.naming_name_brand_down_rightBlock_up h4 {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #671FEC;
}

.naming_name_brand_down_rightBlock_up_list {
    padding: 0;
}

.naming_name_brand_down_rightBlock_up_list ol {
    padding-left: 0.938rem;
}

.naming_name_brand_down_rightBlock_up_list  li {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #000000;
}

.naming_name_brand_down_rightBlock_down {
    align-self: flex-end;
    padding-right: 6rem;
}

.naming_name_brand_down_rightBlock_down  span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4D4D4D;
}

/* personnel management system */


.personnel_system_crm {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #671FEC;
}


.personnel_system_crmIMG span{
    position: absolute;
    top: -45px;
    left: 118px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 110%;
    background: #671FEC;
    background: linear-gradient(to bottom, #671FEC 41%, #FFFFFF 27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.personnel_system_crm_wrapper {
    display: flex;
    padding-left: 13.813rem;
    padding-top: 3.75rem;
}

.personnel_system_crm_leftBlock {
    width: 70%;
}

.personnel_system_crm_leftBlock h3{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #E9E9E9;
}

.personnel_system_crm_leftBlock p{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
}

.personnel_system_crm_leftBlock_blockRadio {
    padding-top: 2rem;
}

.personnel_system_crm_leftBlock_divBorderRadius {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 40px;
    padding: 8px 16px;
    background-color: #671FEC;
    margin-bottom: 1rem;
}

.personnel_system_crm_leftBlock_radioList {
    display: flex;
    align-items: center;
    margin-bottom: 1.375rem;
}

.personnel_system_crm_leftBlock_radioList span {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    padding-left: 0.5rem;
}

.personnel_system_crm_leftBlock_form h4{
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
}

.personnel_system_crm_leftBlock_form_flex {
    display: flex;
    justify-content: space-between;
}

.personnel_system_crm_leftBlock_form_flex_left p, .personnel_system_crm_leftBlock_form_flex_right p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
}

.personnel_system_crm_leftBlock_form_flex_left input, .personnel_system_crm_leftBlock_form_flex_right input {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 128%;
    letter-spacing: 0.04em;
    color: #671FEC;
    padding: 10px 16px;
    width: 30.375rem;
    height: 2.5rem;
    background: #E9E9E9;
    border-radius: 21px;
    outline: none;
    border:0;
}

.personnel_system_crm_leftBlock_form_flex_right {
    align-self: flex-end;
}

.personnel_system_crm_leftBlock_form_flex_right input {
    width: 17.563rem;
}

.personnel_system_crm_leftBlock_form_flex_left input::placeholder, .personnel_system_crm_leftBlock_form_flex_right input::placeholder {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 128%;
    letter-spacing: 0.04em;
    color: #671FEC;
}

.personnel_system_crm_leftBlock_form_textArea {
    width: 100%;
}

.personnel_system_crm_leftBlock_form_textArea textarea{
    width: calc(100% - 32px);
    padding: 10px 16px;
    min-height: 160px;
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 128%;
    letter-spacing: 0.04em;
    color: #671FEC;
    background: #E9E9E9;
    border-radius: 21px;
    margin-top: 3.625rem;
    text-align: left;
}

.personnel_system_crm_leftBlock_form_textArea textarea:focus {
    outline: none;
}

.buttonSubmit {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #671FEC;
    padding: 10px 16px;
    border: 1px solid #671FEC;
    border-radius: 37px;
    margin-top: 0.25rem;
    margin-bottom: 2.25rem;
}

.personnel_system_crm_rightBlock {
    position: relative;
    width: 50%;
}

.personnel_system_crm_rightBlock_cobweb {
    position: absolute;
    right: 0;
    bottom: 36%;
}

#cobweb1 {
    position: absolute;  
    right: 0rem;
    bottom: 1rem;

}

#cobweb2 {
    position: absolute;
    right: 0rem;
    bottom: 7rem;
}

#cobweb3 {
    position: absolute;
    right: 0rem;
    bottom: 12rem;
}

#cobweb4 {
    position: absolute;
    right: 1rem;
    bottom: 16rem;
}

#cobweb5 {
    position: absolute;
    right: 3rem;
    bottom: 19rem;
}

.personnel_system_crm_rightBlock_groupEllipse{
    position: absolute;
    bottom: -2.188rem;
    right: 0;
}

/* footer */

.footer {
    width: 100%;
    background-color: #4D4D4D;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer_left h4 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    /* line-height: 34px; */
    color: #E9E9E9;
}

.footer_left p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-decoration-line: underline;
    color: #E9E9E9;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_right p {
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #E9E9E9;
}
